header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
header a {
  color: green;
}

header a:hover {
  color: yellowgreen;
  text-decoration: none;
}
