.articleOfUser {
  padding: 20px;
}

.articleCard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 20px auto;
  border: 1px solid black;
  border-radius: 40px;
  margin: 0 auto;
  padding: 20px;
}
.articleCard span {
  color: green;
}
.articleCard:hover {
  transition-duration: 1s;
  transform: scale(1.1);
}
@media (max-width: 420px) {
  .articleCard {
    width: 100%;
    font-size: 16px;
  }
}
